body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.reload {
    width: 100px;
    height: 100px;

    border-radius: 50%;
    background-color: #4f7dbd;
    color: white;
    font-size: 50px;
    position:relative;

    transform: rotate();

    line-height:91px;
    text-align:center;
}

.reload::before {
    content: "\27F3";

    width: 100px;
    height: initial;
    position: absolute;

    left:0;
}